* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
.capa {
  height: 100%;
}

body {
  /* background: url(imagens/avnt3.png); */
  background-attachment: fixed;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

/*Cor das letras barra de navegação*/
.nav-link {
  color: white;
}
.nav-link:hover {
  color: #af812c;
  transition: color 0.4s;
}

/* centralizar a capa*/
.capa {
  display: table;
  width: 100%;
}

.texto-capa {
  color: #2b2b2b;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}
h2 {
  margin-bottom: 50px;
}

/*Botões*/

.btn-ideia {
  color: white;
  border-radius: 20px;
  background-color: #cca152;
  width: 25%;
  padding: 10px 35px;
  text-transform: uppercase;
  margin: 0px 20px;
  transition: background 0.4s, color 0.8s;
}

.btn-ideia:hover {
  background-color: #af812c;
}

.btn-ideia2 {
  color: #2b2b2b;
  border-radius: 20px;
  width: 25%;
  padding: 10px 35px;
  border-color: #2b2b2b;
  text-transform: uppercase;
  transition: background 0.4s, color 0.8s;
}
.btn-ideia2:hover {
  background-color: #2b2b2b;
  color: white;
}
/*pesquisar*/
/*#buscar{
    width: 500px;
    border-radius: 10px;
    height: 35px;
}*/
/* secao sobre*/
#sobre {
  background-color: #2b2b2b;
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
}
