.nav-link{
    color: white;
}
.nav-link:hover
{
color: #af812c;
transition: color 0.4s;
}
/*botoes comprar*/
.coracao{
    color: #2b2b2b;
    padding-left: 20px;
    
}
.coracao:hover{
    color: red;
    transition: color 0.4s;
}
.btn{
    border-color: #2b2b2b;
    border: 1px;
}
.btn:hover{
background: #af812c;
color: white;
transition: color 0.4s, background 0.4s;
}

/*foote*/
footer{
    height: 325px;
}

.col{
    background-color: #e9e8e8;
    text-align: center;
    padding-top: 100px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}